h1 {
  font-size: 4.8rem;
  margin: 1rem;
}

h2 {
  font-size: 4.2rem;
  margin: 1rem;
}

h3 {
  font-size: 3.8rem;
  margin: 1rem;
}

h4 {
  font-size: 3.1rem;
  margin: 1rem;
}

h5 {
  font-size: 2.4rem;
  margin: 1rem;
}
//@mixin responsive-font-size ($fs-min, $vw, $fs-max) {
//  font-size: clamp(#{$fs-min, #{$vw}, #{$fs-max}
//  });
//}
body {
  width: 100%;
  font-size: 1.6rem;
  box-sizing: border-box;
  //@include responsive-font-size(1.8rem, 3vw, 4.8rem);
}


/* Container für das Floating-Label */
.c-input-floating-wrapper {
  position: relative;
  width: 100%;
  border-radius: 0.8rem;
  font-size: 1.6rem;
}

/* Stile für das Input-Feld */
.c-input-floating-wrapper .c-input {
  width: 100%;
  padding: 1.25rem 1rem;
  font-size: 1.6rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
}

.c-input-floating-wrapper .c-input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Stile für das Label */
.c-input-floating-wrapper label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 1rem 1.1rem;
  font-size: 1.6rem;
  pointer-events: none;
  border: 1px solid transparent;
  transition: all 0.1s ease-in-out;
  transform-origin: 0 0;
  color: #6c757d;
  background-color: transparent;
}

/* Floating-Effekt bei Fokussierung oder Eingabe */
.c-input-floating-wrapper:focus-within label,
.c-input-floating-wrapper:has(.c-input:not(:placeholder-shown)) label {
  transform: scale(0.8) translateY(-1.0rem) translateX(0.15rem);
  background-color: white;
  margin: 0 1rem;
  padding: 0rem 0.5rem;
  height: 25px;
  color: #495057;
}

/* Zusätzlicher Stil für das Input-Feld, um Platz für das Label zu schaffen */
.c-input-floating-wrapper .c-input {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.c-button {
  border: none;
  font-family: inherit;
  text-decoration: none;
  padding: 8px 10px;
  border-radius: 0.4rem;
  transition: 0.2s opacity;
  box-sizing: border-box;
  height: 100%;
  min-height: 4rem;
}

.c-button-primary {
  background-color: #444;
  color: #fff;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.c-button-secondary {
  background-color: #f0f0f0;
  color: #444;
  border: 2px solid #444;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}

.c-button-secondary:hover {
  background-color: #e0e0e0;
  border-color: #333;
}

.c-button:hover {
  cursor: pointer;
  opacity: 0.75;
}

.c-alert-border {
  border-color: red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.2);
}

.c-alert-message {
  color: red;
  font-size: 1.2rem;
  margin-left: 0.2rem;
}

.c-modal {
  border-radius: 0.5rem;
  padding: 1rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
