html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}



.c-template-section-header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.c-template-section-header > div:last-child {
  display: none;
}

.c-template-section-body {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-left: 0rem;
  gap: 0.5%;
}

.c-template-section-body-two-column {
  display: grid;
  grid-template-columns: 50% 50%;
}

.c-template-section-footer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 50% 50%;
}

.c-template-footer-left {
  display: flex;
  justify-content: start;
  box-sizing: border-box;
  gap: 0.2rem;
}

.c-template-footer-right {
  display: flex;
  justify-content: end;
  box-sizing: border-box;
  gap: 0.2rem;
}

.c-input-container {
  display: flex;
  box-sizing: border-box;
  gap: 0.2rem;
}

.c-input-wrapper {
  display: flex;
  box-sizing: border-box;
  gap: 0.2rem;

}
.c-select-wrapper {
  display: flex;
  box-sizing: border-box;
  gap: 0.2rem;
}

@media (max-width: 576px) {
  .c-template-section-header {
    grid-template-columns: auto 20%;
  }

  /// Entferne Info Container
  .c-template-section-header > div:first-child {
    display: none;
  }

  /// Entferne Action Container
  .c-template-section-header > div:nth-last-child(2) {
    display: none;
  }
  /// Füge Kurzform Action und Info hinzu
  .c-template-section-header > div:last-child {
    display: block;
  }

  .c-template-section-footer {
    display: grid;
    grid-template-columns: 100%
  }
}

.c-textbox-wrapper {
  min-height: 4rem;
  display: flex;
  box-sizing: border-box;
  gap: 0.2rem;
  text-align: left;
}

.c-textbox {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.h-100 {
  height: 100%;
}

.c-modal {
  position: relative;
  background-color: rgb(255,255,255);
  max-height: 85%;
  margin: 3% auto auto;
  max-width: 95%;
  padding: 2px;
  overflow: auto;
}

.c-modal-background {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,0.2);
}
