body {
  width: 100%;
  padding: 5px;
  margin: 0px;
  font-family: Verdana, serif;
  box-sizing: border-box;
}

.c-template-wrapper-header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.c-template-wrapper-header > div:last-child {
  display: none;
}

.c-template-wrapper-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.c-template-wrapper-footer {
  display: grid;
  grid-template-columns: 50% 50%
}

.c-input-wrapper {
  display: flex;
  gap: 0.1rem;
}

@media (max-width: 576px) {
  .c-template-wrapper-header {
    grid-template-columns: auto 20%;
  }

  /// Entferne Info Container
  .c-template-wrapper-header > div:first-child {
    display: none;
  }

  /// Entferne Action Container
  .c-template-wrapper-header > div:nth-last-child(2) {
    display: none;
  }
  /// Füge Kurzform Action und Info hinzu
  .c-template-wrapper-header > div:last-child {
    display: block;
  }

  .c-template-wrapper-footer {
    display: grid;
    grid-template-columns: 100%
  }
}

.c-col-1 {
  width: 16.6666%;
  flex-basis: 16.6666%;
}

.c-col-2 {
  width: 33.3333%;
  flex-basis: 33.3333%;
}

.c-col-3 {
  width: 50%;
  flex-basis: 50%;
}

.c-col-4 {
  width: 66.6666%;
  flex-basis: 66.6666%;
}

.c-col-5 {
  width: 83.3333%;
  flex-basis: 83.3333%;
}

.c-col-6 {
  width: 100%;
  flex-basis: 100%;
}

[class*='c-'] {
}

/* Container für das Floating-Label */
.c-form-floating {
  position: relative;
  width: 100%;
  border-radius: .5rem;
}

/* Stile für das Input-Feld */
.c-form-floating .c-form-control {
  width: 100%;
  padding: 0.8rem 0.75rem;
  font-size: 1rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;

}

.c-form-floating .c-form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Stile für das Label */
.c-form-floating label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 0.8rem 0.75rem;
  pointer-events: none;
  border: 1px solid transparent;
  transition: all 0.1s ease-in-out;
  transform-origin: 0 0;
  color: #6c757d;
}

/* Floating-Effekt bei Fokussierung oder Eingabe */
.c-form-floating .c-form-control:focus ~ label,
.c-form-floating .c-form-control:not(:placeholder-shown) ~ label {
  transform: scale(0.75) translateY(-0.8rem) translateX(0.15rem);
  color: #495057;
}

.c-stylish-button {
  border: none;
  font-family: inherit;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  transition: 0.2s opacity;
}

.c-stylish-button:hover,
.c-stylish-button:focus {
  cursor: pointer;
  opacity: 0.75;
}