body {
  width: 100%;
  padding: 5px;
  margin: 0px;
  font-family: Verdana, serif;
  box-sizing: border-box;
}

.c-template-wrapper-header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.c-template-wrapper-header > div:last-child {
  display: none;
}

.c-template-wrapper-body {
  display: flex;
}

.c-template-wrapper-footer {
  display: grid;
  grid-template-columns: 50% 50%
}

@media (max-width: 576px) {
  .c-template-wrapper-header {
    grid-template-columns: auto 20%;
  }

  /// Entferne Info Container
  .c-template-wrapper-header > div:first-child {
    display: none;
  }

  /// Entferne Action Container
  .c-template-wrapper-header > div:nth-last-child(2) {
    display: none;
  }
  /// Füge Kurzform Action und Info hinzu
  .c-template-wrapper-header > div:last-child {
    display: block;
  }

  .c-template-wrapper-footer {
    display: grid;
    grid-template-columns: 100%
  }
}

.c-col-1 {
  width: 16.6666%;
  flex-basis: 16.6666%;
}

.c-col-2 {
  width: 33.3333%;
  flex-basis: 33.3333%;
}

.c-col-3 {
  width: 50%;
  flex-basis: 50%;
}

.c-col-4 {
  width: 66.6666%;
  flex-basis: 66.6666%;
}

.c-col-5 {
  width: 83.3333%;
  flex-basis: 83.3333%;
}

.c-col-6 {
  width: 100%;
  flex-basis: 100%;
}

[class*='c-'] {
  border: solid 1px;
}

  /* Stile für das Label */
.c-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  font-size: 14px;
}

/* Stile für das Input-Feld */
.c-input {
  width: 100%;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
}

/* Hover-Effekt für das Input-Feld */
.c-input:hover {
  border-color: #a0a0a0;
}

/* Fokus-Effekt für das Input-Feld */
.c-input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}